/* [FONT] */
@font-face {
font-family: Poppins-Regular;
src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
font-family: Poppins-Medium;
src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
font-family: Poppins-Bold;
src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
font-family: Poppins-SemiBold;
src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}

/* [ОБЩИЕ СТИЛИ] */
* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body,html {
    height: 100%;
}

body {
    background-color: #ededed;
}

.page {
    font-family: Poppins-Regular, sans-serif;
    font-size: 14px;
    color: #1e1e1e;
}

/* [СТИЛИ ССЫЛОК] */
a {
    line-height: 1.7;
    margin: 0px;
    text-decoration: none;
    cursor: pointer;
    color: #A32338;
}

a:visited {
    color: #A32338;
}

a:focus {
    outline: none !important;
}

a:hover {
    color: #A32338;
    text-decoration: underline;
}

/* [IMAGE] */
img {
    max-width: 100%;
    height: auto;
    content: url('../resources/images/RSATU-logo-material-grey-red.svg');
}

.rsatu-logo {
    padding-bottom: 66px;
}

/* [INPUT] */
input {
    outline: none;
    border: none;
}

.l {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
}

.mb-37 {
    margin-bottom: 37px;
}

.input {
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 40px;
    background: transparent;
    padding: 0 5px;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #A32338;
    
}

.focus-input::after {
    font-size: 14px;
    color: #999999;
    line-height: 1.2;

    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input:focus + .focus-input::after {
    font-size: 12px;
    top: -15px;
    }
    
.input:focus + .focus-input::before {
    width: 100%;
}
.input:not(:placeholder-shown) + .focus-input::after {
    font-size: 12px;
    top: -15px;
}

.input:not(:placeholder-shown) + .focus-input::before {
    width: 100%;
}

/* [ВОССТАНОВЛЕНИЕ ПАРОЛЯ] */

.f {
    text-align: right;
}

/* [BUTTON] */
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.sign-in {
    border-radius:10px;
    padding: 0px;
    background-color: #adadad;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sign-in:hover {
    background: #A32338;
}

.sign-in-b {
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 18px;
    color: #A32338;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color:  #ededed;
}

.sign-in-b:hover {
    color: #fff;
    background: #A32338;
}

/* [LOGIN-PAGE] */
.page-content {
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

/* [FORM] */
.form {
    width: 390px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 66px 50px 33px 50px;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
}

.login-form {
    width: 100%;
}

/* [SING UP] */

.sign-up {
    text-align: center;
}

/* [RECOVER PAGE] */

.txt1 {
    padding: 10px;
    text-align: center;
}
