<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title>Восстановление пароля</title>
    <link rel="stylesheet" href="../../css/dark-mode.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/login.js"></script>
    <script src="../../js/anime-master/lib/anime.min.js"></script>
    <script type="text/javascript" src="../../js/anime-login.js"></script>
</head>
<body>
<div class="page">
    <div class="page-content">
        <div class="form">
            <form class="login-form">
                <div class="rsatu-logo">
                    <img src="../../resources/images/RSATU-logo-material-grey.svg"/>
                </div>
                <div class="login">
                    <div class="txt1 mb-37">
                        <p>Введите адрес электронной почты</p>
                    </div>
                    <div class="mb-37 log">
                        <div class="l">
                            <input class="input" type="text" name="email" id="email">
                            <label class="label">
                                <span class="focus-input">Электронный адрес</span>
                            </label>
                        </div>
                        <div class="ul">
                            <div class="error">
                                <label class="error-msg">Ошибка</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sign-in">
                    <button class="sign-in-b">
                        Восстановить
                    </button>
                </div>
                <div class="sign-up">
                    <span class="txt-sign-up">Вспомнили пароль ? </span>
                    <a class="txt-sign-up" href="/login">Войти</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>